doctype html
html
  head
    title Mind the gap
    link(rel="stylesheet" href="/css/main.css")
  body
    script(src="/js/libs.js")
    script.
      // set our baseURL reference path
      System.config({
        defaultJSExtensions: true,
        baseURL: '/js'
      });

      // loads /app/main.js
      System.import('main');
    </script>
